In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from pandas.tseries.offsets import DateOffset
directory = "C://Users/Youngju Hong/Documents/GitHub/2020_Fall"

In [2]:
ratings = pd.read_excel(f"{directory}/2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx", header = 1)
sales = pd.read_excel(f"{directory}/2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터.xlsx", header = 1)

In [7]:
ratings

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
0,02:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.003
1,02:01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.012,0.003
2,02:02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004
3,02:03,0.000,0.000,0.014,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
4,02:04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.017,0.000,0.000,0.000,0.000,0.000,0.000,0.004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,01:56,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1437,01:57,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1438,01:58,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.017,0.000,0.000,0.015,0.000,0.000,0.019,0.000,0.004
1439,01:59,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1440,월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,...,0.010,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005,0.004

In [8]:
sales

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,노출,일자,시간
0,2019-01-01 06:00:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,20,2019-01-01,06:00
1,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,0,2019-01-01,06:00
2,2019-01-01 06:20:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,20,2019-01-01,06:20
3,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,0,2019-01-01,06:20
4,2019-01-01 06:40:00,20.000000,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,20,2019-01-01,06:40
...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,20,2020-01-01,00:20
38305,2020-01-01 00:40:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,20,2020-01-01,00:40
38306,2020-01-01 01:00:00,20.000000,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,20,2020-01-01,01:00
38307,2020-01-01 01:20:00,20.000000,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,20,2020-01-01,01:20
38308,2020-01-01 01:40:00,17.166667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,17,2020-01-01,01:40

In [5]:
sales["노출"] = sales["노출(분)"].fillna(0).astype(int)
sales["일자"] = sales["방송일시"].apply(lambda x: str(x).split(" "))

In [6]:
sales["시간"] = sales["일자"].apply(lambda x: x[1][:str(x[1]).rfind(":")])
sales["일자"] = sales["일자"].apply(lambda x: x[0])

In [9]:
ratings = ratings.iloc[:1440, :]
ratings["시간대"] = pd.to_datetime(ratings["시간대"])

C:\Users\Youngju Hong\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
pd.to_datetime(ratings.loc[100, "시간대"],  format = "%H:%M") +pd.DateOffset(minutes = 20)

Timestamp('2020-08-25 04:00:00')

In [153]:
ts = pd.Timestamp('2017-01-01 09:10:11')
ts + DateOffset(months=2)

Timestamp('2017-03-01 09:10:11')

In [154]:
sales.loc[100, "시간"]

'12:20'

In [155]:
for i in sales.index:
    tempTime = pd.to_datetime(sales.loc[100,"시간"])
    
    
    ratings.loc[ratings["시간대"] == sales.loc[100,"시간"], sales.loc[100, "일자"]]

SyntaxError: invalid syntax (<ipython-input-155-91c98e8a56ad>, line 5)

In [11]:
tempTime = pd.to_datetime(sales.loc[100,"시간"]) #1. retrieve time data from "sales"

tempTime

Timestamp('2020-08-25 12:20:00')

In [12]:
tempTime = pd.to_datetime(sales.loc[100,"시간"])
tempTime + pd.DateOffset(minutes = 20)

Timestamp('2020-08-25 12:40:00')

In [158]:
tempTime_added

'06:20'

In [159]:
x = "06:40"

In [160]:
x

'06:40'

In [161]:
int(x[3:]) + 20

60